@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
    .registration-first {
        clip-path: polygon(0 0, 0 95%, 95% 0);
    }
    .registration-second {
        clip-path: polygon(100% 100%, 5% 100%, 100% 5%);
    }
    .test:-webkit-autofill, .test:-webkit-autofill:hover, .test:-webkit-autofill:focus, .test:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .polygon-diagonal {
        clip-path: polygon(100% 0, 0 100%, 0 40%, 40% 0);
    }
    .polygon-diagonal-second {
        clip-path: polygon(94% 0, 0 94%, 0 60%, 60% 0);
    }
}

#root {
    font-family: "Arial";
}