@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
    .registration-first {
        clip-path: polygon(0 0, 0 95%, 95% 0);
    }
    .registration-second {
        clip-path: polygon(100% 100%, 5% 100%, 100% 5%);
    }
    .test:-webkit-autofill, .test:-webkit-autofill:hover, .test:-webkit-autofill:focus, .test:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .polygon-diagonal {
        clip-path: polygon(100% 0, 0 100%, 0 40%, 40% 0);
    }
    .polygon-diagonal-second {
        clip-path: polygon(90% 0, 0 90%, 0 60%, 60% 0);
    }
    .nav-background {
        clip-path: polygon(0 85%, 89% 85%, 91% 50%, 100% 50%, 100% 100%, 0 100%);

    }
    .nav-second-bg {
        clip-path: polygon(77% 0, 76% 20%, 9% 20%, 7% 47%, 0 47%, 0 0);
    }
    .nav-green-bg {
        clip-path: polygon(83% 0, 81% 37%, 34% 39%, 34% 0);

    }
    .temp-nav {
        clip-path: polygon(83% 0, 81% 22%, 0 22%, 0 0);

    }
    .nav-a {
        clip-path: polygon(0 0, 9% 0, 5% 100%, 0 100%);

    }
    .title-a {
        font-family: "Book Antiqua";
        font-weight: bold;
        letter-spacing: 2px;

    }
    .button-default {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:cursor-not-allowed disabled:hover:bg-gray-700 disabled:bg-gray-700
    }
}

#root {
    font-family: "Bahnschrift Light";
    letter-spacing: 1px;
}